
<table class="tx-dynamic-map" >
	<tr>
		<td>
			<f:translate key="tx_dynamicmap_domain_model_item.number" />
		</td>
		<td>
			{item.number}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dynamicmap_domain_model_item.name" />
		</td>
		<td>
			{item.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dynamicmap_domain_model_item.description" />
		</td>
		<td>
			{item.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dynamicmap_domain_model_item.image" />
		</td>
		<td>
			{item.image.originalResource.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dynamicmap_domain_model_item.link" />
		</td>
		<td>
			{item.link}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dynamicmap_domain_model_item.position_x" />
		</td>
		<td>
			{item.positionX}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dynamicmap_domain_model_item.position_y" />
		</td>
		<td>
			{item.positionY}
		</td>
	</tr>
</table>