<div class="form-group">
<label for="name">
	<f:translate key="tx_dynamicmap_domain_model_stage.name" />
</label><br />
	<f:form.textfield property="name" class="form-control"/>
</div>
<div class="form-group">
<label for="image">
	<f:translate key="tx_dynamicmap_domain_model_stage.image" />
</label><br />
	<span>File upload is not implemented!</span>
</div>
	<div class="form-group">
<label for="width">
	<f:translate key="tx_dynamicmap_domain_model_stage.width"  />
</label><br />
		<f:form.textfield property="width" class="form-control"/>
	</div>
<div class="form-group">
<label for="height">
	<f:translate key="tx_dynamicmap_domain_model_stage.height" />
</label><br />
	<f:form.textfield property="height" class="form-control"/>
</div>