
<table class="tx-dynamic-map" >
	<tr>
		<td>
			<f:translate key="tx_dynamicmap_domain_model_stage.name" />
		</td>
		<td>
			{stage.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dynamicmap_domain_model_stage.image" />
		</td>
		<td>
			{stage.image.originalResource.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dynamicmap_domain_model_stage.width" />
		</td>
		<td>
			{stage.width}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dynamicmap_domain_model_stage.height" />
		</td>
		<td>
			{stage.height}
		</td>
	</tr>
</table>